---
import ThemeToggleButton from "../RightSidebar/ThemeToggleButton.tsx";
const { content } = Astro.props;
const title = content.title;
---

<article id="article" class="content">
	<section class="main-section">
		<h1 class="content-title" id="overview">{title}</h1>
		<slot />
	</section>
	
</article>

<nav class="block hidden center ">
	<ThemeToggleButton client:visible />		
</nav>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.content>section {
		margin-bottom: 4rem;
	}
	.center{	
		align-self: center;
	}

	.block {
		display: block;
	}

	@media only screen and (min-width: 1116px) {
	 .hidden{
	display: none !important;
   }
}
</style>