---
import ThemeToggleButton from "../RightSidebar/ThemeToggleButton";

const { content, githubEditUrl } = Astro.props;
const title = content.title;
---

<article id="article" class="content">
	<section class="main-section">
		<h1 class="content-title" id="overview">{title}</h1>
		<slot />
		
	</section>
	<nav class="block lg:hidden center ">
		<ThemeToggleButton client:visible />
		
	</nav>
</article>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.content>section {
		margin-bottom: 4rem;
	}
	.center{	
		align-self: center;
	}

	.block {
		display: block;
	}

	@media (min-width: 70em) {
		.lg\:hidden {
			display: none;
		}
	}
</style>